body {
    background-color: rgb(53 39 47);
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat-x;
    background: #cb3852;
    height: fit-content !important;
}

.quotes {
    margin-top: 30px;
    color: black;
    text-shadow: 0px 0px 6px white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
}

.home {
    text-align: center;
}

h1 {
    color: white;
    font-size: 2.9rem;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}

.head-h {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 5rem;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

/* health care logo of home page.. */
.help {
    padding: 10px;
}

.p-home{
    font-size: 1.6rem;
}